# 🔧 Fichiers compilés
*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.out
*.a

# 🧠 Fichiers de debug
*.log

# 📦 Dossiers de build
build/
bin/
lib/

# ⚙️ CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# 🧩 SFML (si tu as les libs locales)
SFML/build/
SFML/lib/
SFML/bin/

# 💻 macOS
.DS_Store

# 🧪 VSCode
.vscode/

# 🧠 CLion / JetBrains
.idea/

# 🍎 Xcode
*.xcworkspace
*.xcuserdata
DerivedData/

# 🐙 Git
*.swp
